@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f9fafb; /* Tailwind bg-gray-50 */
  overflow: hidden; /* WICHTIG: Seite selbst scrollt nicht mehr */
}

/* Scrollbar unsichtbar für Custom-Container */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
